<h1>Admins#dashboard</h1>
<p>Find me in app/views/admins/dashboard.html.erb</p>

<%= link_to "Create Stores", new_admin_store_path, class: "btn btn-primary" %>
<%= link_to "Create Deals", new_admin_deal_path, class: "btn btn-primary" %>
