<h1>My Favorite Stores List</h1>

<ul class="row list-group">
  <h3>Check the boxes of you favorite stores</h3>
  <%= simple_form_for(@user, :url => user_stores_path, method: :post, html: { class: 'form-horizontal control-group' }) do |f| %>
    <li class="list-group-item col-md-12">
      <%= f.association :stores, collection: Store.order('name ASC'), as: :check_boxes, include_hidden: false, label: false %>
    </li>
    <%= f.button :submit, "Update Favorite Stores", class: "btn btn-primary" %>
  <% end %>
</ul>

<%= link_to "Back", root_path, class: "btn btn-secondary" %>