<h1>Deals#index</h1>
<p>Find me in app/views/deals/index.html.erb</p>

<% @deals.each do |deal| %>
<ul>
  <li>
    <h3><%= deal.title %></h3>
    <p><%= deal.description %></p>
  </li>
</ul>
<% end %>

<%= link_to "Home", root_path, class: "btn btn-secondary" %>
<%= link_to "Favorite Stores", user_stores_path(current_user), class: "btn btn-secondary" %>
