<% if user_signed_in? %>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Help</a>
    </li>
  </ul>
<% else %>
  <div class="empty-nav">
  </div>
<% end %>